/*colours
#CFF09E
#A8DBA8
#79BD9A
#3B8686
#0B486B
*/

/*https://colorhunt.co/palette/148495
*/
body {
  overflow-y:hidden;
}
html {
  font-family: 'Notable', sans-serif;
  letter-spacing : 0;
  margin         : 0;
  padding        : 0;
  scroll-behavior: smooth;
  /*text-shadow: 5px 5px #DCDCDC;*/
  /*animation: 1s ease textshadow;*/
  margin-top     : 0;
  height         : 100%;

  background-color: #b2d3be;
}

h1 {
  color: #f2f4d1;
  text-align: center;
  text-shadow: 2px 2px 0px #B9BAA0;
  position: relative;
  top: 350px;
  height: 60px;
  text-align: center;
  padding-top: 0px;
  transform: perspective(1px) translateY(-50%);
  animation: 0.2s ease-out 0s 1 h1;
}

@keyframes h1 {
  0% {
  padding-top: 20px;
  }
  100% {
  padding-top: 0px;
  }
}
